<div class="ui text container">
    <div id="formPivot" class="ui form pivot">
        <h2 class="ui center aligned header">Teste Front End</h2>
        <div class="required field">
            <label>Nome</label>
            <input id="namePivot" type="text" name="namePivot" placeholder="Nome" class="formPivotCampo">
            <div id="dataNamePivot"></div>
        </div>
        <div class="two fields">
            <div class="required field">
                <label>E-mail</label>
                <input id="emailPivot" type="text" name="emailPivot" placeholder="Email"  class="formPivotCampo">
                <div id="dataEmailPivot"></div>
            </div>
            <div class="required field">
                <label>Telefone</label>
                <input id="phonePivot" type="text" name="phonePivot" placeholder="Telefone"  class="formPivotCampo">
                <div id="dataPhonePivot"></div>
            </div>
        </div>
        <div class="required field">
            <label>Assunto</label>
            <input id="subjectPivot" type="text" name="subjectPivot" placeholder="Assunto"  class="formPivotCampo">
            <div id="dataSubjectPivot"></div>
        </div>
        <div class="required field">
            <label>Mensagem</label>
            <textarea id="messagePivot" row="5" name="messagePivot" placeholder="Mensagem"  class="formPivotCampo"></textarea>
            <div id="dataMessagePivot"></div>
        </div>
        <div id="submitPivot" class="ui primary submit button">Enviar</div>
        <div class="ui error message"></div>
    </div>
</div>